
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

:root {
	--main-color: #0067e5;
	--accent-color: #F6ECC8;
  --third-color: #000E2E;
  --basic-color1: #FCFAF2;
  --basic-color2: #000000;
  --info-color1: #CEE0FF;
  --info-color2: #BFFFF9;
  --opacity-color: #F9F3DF;
}

@font-face {
  font-family: 'DopperRegular';
  src: url('../fonts/Dopper-Regular.5125e5cb.woff2');
  font-weight: normal;
  font-style: normal;
  font: inherit; 
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('../fonts/Gilroy-Medium.605c261f.woff2');
  font-weight: normal;
  font-style: normal;
  font: inherit;
}

@font-face {
  font-family: 'GilroyBold';
  src: url('../fonts/Gilroy-Bold.af2227af.woff2');
  font-weight: 900;
  font-style: normal;
  font: inherit;
}

h2 {
  font-family: GilroyBold;
}

p, h3 {
  font-family: GilroyMedium;
}

a {
  text-decoration: none;
  font-family: GilroyMedium;
}

main {
  background-color: var(--basic-color1);
}

/* nav */
nav {
  background-color: var(--main-color);
  gap: 2vw; 
}

nav a img {
  max-width: 18vw;
}

nav a {
  color: var(--accent-color);
  font-family: GilroyMedium;  
}

/* section 1 */

main section:nth-of-type(1) {
  flex-direction: column;
  background-color: var(--main-color);
  padding-bottom: 4vw;
  display: flex;
  align-items: center;
  padding-bottom: 15vw;
}

main section:nth-of-type(1) img:first-of-type{
  height: 90vw;
  border-radius: 1em;
  max-width: 90vw;
  object-fit: cover;
}

main section:nth-of-type(1) h1 {
  font-family: DopperRegular;
  color: var(--accent-color);
  font-size: 3em;
  text-align: center;
  margin: 2vw 11vw;
}

main section:nth-of-type(1) p {
  font-size: 1.7em;
  color: var(--accent-color);
  text-align: center;
  margin: 2vw 12vw;
}

main section:nth-of-type(1) img:last-child {
  width: 18vw;
  filter: brightness(0) saturate(100%) invert(100%) sepia(70%) saturate(687%) hue-rotate(316deg) brightness(103%) contrast(93%); /* ik heb deze filters voor deze specifieke kleur gevonden op https://angel-rs.github.io/css-color-filter-generator/ */
}

/*buttons van section 1*/
main section:nth-of-type(1) a{
  font-family: GilroyBold;
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.75em 0.75em;
  border-radius: 1em;
  width: 65vw;
  text-align: center;
}

main section:nth-of-type(1) a:first-of-type {
  background-color: var(--third-color);
  color: var(--accent-color);
}

main section:nth-of-type(1) a:last-of-type {
  background-color: transparent;
  color: var(--accent-color); 
  border: 0.15em solid var(--accent-color);
}

/* section 2 */

main section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin: 7vw;
}

main section:nth-of-type(2) h2 {
  font-size: 2.2em;
  margin: 4vw 0vw;
}

main section:nth-of-type(2) p {
  font-size: 1.2em;
  margin: 4vw 0vw;
}

main section:nth-of-type(2) img {
  margin: 4vw 0vw;
  border-radius: 4vw;
}

/* buttons van section 2 & 4 */ 

main section:nth-of-type(2) a, main section:nth-of-type(4) a{
  font-family: GilroyBold;
  font-size: 5vw;
  padding: 0.6em 0.8em;
  border-radius: 1em;
  font-size: 1.2rem;
  width: 16em;
  margin: 1em 0em;
  text-align: center;
}

main section:nth-of-type(2) a{
  margin: 0.5em 0em;
}

main section:nth-of-type(2) a:first-of-type, main section:nth-of-type(4) a:first-of-type{
  background-color: var(--main-color);
  color: var(--accent-color); 
  font-family: GilroyBold;
  width: 10em;
}

main section:nth-of-type(4) a:first-of-type {
  width: 12em;
}

main section:nth-of-type(2) a:last-of-type, main section:nth-of-type(4) a:last-of-type{
  background-color: transparent;
  color: var(--third-color); 
  border: 0.15em solid var(--third-color);
}

main section:nth-of-type(2) a:last-of-type:hover, main section:nth-of-type(4) a:last-of-type:hover {
  background-color: var(--third-color);
  color: var(--accent-color); 
}

/* section 3 */
main section:nth-child(3) h2{
  font-size: 2.5em;
  font-family: DopperRegular;
  margin: 1em;
}

main section:nth-child(3) ul{
  display: flex;
}

main section:nth-child(3) li {
  list-style: none;
  margin: 5vw;
}

main section:nth-child(3) li a img {
  width: 90vw;
  border-radius: 5vw;
}


main section:nth-child(3) p, section:nth-child(3) h3 {
  color: var(--accent-color);
}

main section:nth-of-type(3) li:first-child h3, main section:nth-of-type(3) li:first-child p {
  color: var(--third-color);
}

/* section 4 */

main section:nth-of-type(4) img {
  width: 100vw;
  overflow: hidden;
}

main section:nth-of-type(4) article {
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main section:nth-of-type(4) article a:first-of-type {
  margin-bottom: 1.5vw;
}

main section:nth-of-type(4) article h2 {
  line-height: 10vw;
  font-size: 10vw;
  margin-top: 8vw;
  margin-bottom: 5vw;
}

main section:nth-of-type(4) article p {
  line-height: 6.5vw;
  font-size: 5vw;
  max-width: 80vw;
}


/* section 5 */
main section:nth-child(5) h2 {
  font-family: GilroyMedium;
  margin: 20vw 10vw;
}

main section:nth-of-type(5) li {
  margin: 5vw 14vw;
  list-style: none;
  border-radius: 1em;
}

main section:nth-of-type(5) p {
  color: var(--third-color);
}

main section:nth-of-type(5) li:nth-child(1) {
  padding: 0vw;
}

main section:nth-of-type(5) li:nth-child(1) img {
  width: 72vw;
}

main section:nth-of-type(5) li:nth-child(2) {
  background-color: var(--info-color1);
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 50% 50%;
  padding: 0vw;
}

main section:nth-of-type(5) li:nth-child(2) img {
  width: 20vw;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/3;
  padding-top: 6vw;
}

main section:nth-of-type(5) li:nth-child(2) p {
  margin-left: 7vw;
  margin-top: 2vw;
}

main section:nth-of-type(5) li:nth-child(2) p:first-of-type {
  font-family: DopperRegular;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 4em;
}

main section:nth-of-type(5) li:nth-child(2) p:last-of-type {
  font-family: GilroyBold;
  grid-column: 1/2;
  grid-row: 2/3;
}

main section:nth-of-type(5) li:nth-child(3) {
  background-color: var(--info-color2);
  padding: 6vw;
}

main section:nth-of-type(5) li:nth-child(3) p {
  font-family: DopperRegular;
  font-size: 1.5em;
}

main section:nth-of-type(5) li:nth-child(4) {
  background-color: var(--info-color1);
  padding: 0vw;
  height: 80vw;
}

main section:nth-of-type(5) li:nth-child(4) img {
  width: 72vw;
}

main section:nth-of-type(5) li:nth-child(4) p {
  font-family: DopperRegular;
  font-size: 1.5em;
  padding: 0.8em;
}


/* footer */

footer {
  background-color: var(--accent-color);
  margin-top: 40vw;
}

footer section:first-child, footer section:nth-of-type(2) {
  padding: 8vw;
}

footer section a{
  color: var(--basic-color2);
}

footer li {
  list-style: none;
}

footer section:first-child article:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer section:first-child article:first-child a img{
  background-color: var(--opacity-color);
  border-radius: 5em;
  padding: 2vw;
  width: 2.8em;
  margin: 10vw 0vw;
}

footer section:first-child input {
  margin: 5vw 0vw;
  padding: 1.5em;
  border-radius: 1.5em;
  border: none;
  display: flex;
  flex-direction: column;
  width: 80vw;
  background-color: var(--basic-color1);
}

footer section:first-child input::placeholder {
  font-size: 1.4em;
  font-family: GilroyMedium;
}

footer section:first-child input[type=submit] {
  width: 1em;
  height: 1em;
  padding: 2.4em;
  border-radius: 100%;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 5vw;
}

footer section:first-child p {
  font-family: GilroyBold;
  font-size: 1.5em;
}

footer section:first-child ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 1fr 1fr;
}

footer section:first-child ul li {
  padding-right: 2vw;
}

footer section:first-child ul li p {
  font-size: 1.2em;
}

footer section:first-child ul li:first-child p {
  font-family: DopperRegular;
  font-size: 2em;
  margin: 12vw 0vw;
  grid-area: 1/1/2/2;
}

footer section:first-child ul li:nth-child(2){
  grid-area: 2/1/3/2;
  padding-bottom: 10vw;
}

footer section:first-child ul li:nth-child(3){
  grid-area: 2/2/3/3;
  padding-left: 2.5vw;
}

footer section:first-child ul li:nth-child(4){
  grid-area: 3/1/4/2;
}

footer section:first-child ul li:nth-child(5){
  grid-area: 3/2/4/3;
  padding-left: 2.5vw;
}

footer section:first-child ul li section {
  display: flex;
  flex-direction: column;
  padding-top: 5vw;
}

footer section:first-child ul li section a {
  padding-top: 1vw;
  font-size: 1em;
}

footer section:first-child article:last-of-type{
  margin-top: 15vw;
  display: flex;
  gap: 8vw;
}

footer section:nth-of-type(2) {
  background-color: var(--basic-color1);
}

footer section:last-child a img{
  height: 3.2vh; /* ik heb hier gekozen om de iconen even groot te maken in tegenstelling tot wat dopper.com had gedaan aangezien ik dit er beter uit vindt zien  */
  padding-right: 1vw;
}

footer section:last-child article {
  display: flex;
  flex-direction: row;
  gap: 8vw;
  margin-top: 5vw;
}


/* media query */

@media screen and (min-width: 770px) {
  main section:nth-of-type(4)  {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
  }

  main section:nth-of-type(4) img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100vw;
    overflow: hidden;
  }

  main section:nth-of-type(4) article {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: var(--basic-color1);
    margin-left: 4.5em;
    margin-top: 2.5em;
    margin-bottom: 5em;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 550px;
    flex-wrap: wrap;
    z-index: 1;
  }

  main section:nth-of-type(4) article a:first-of-type {
    margin-bottom: 1.5vw;
  }

  main section:nth-of-type(4) article p {
    line-height: 1.8vw;
    font-size: 1.5vw;
  }

  main section:nth-of-type(4) article h2 {
    line-height: 3.6vw;
    font-size: 3vw;
    margin-top: 1vw;
  }
}