
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

/* de root */

:root {
  color-scheme: light; 
/* light colors */
	--main-color: #0067e5;
	--accent-color: #F6ECC8;
  --third-color: #000E2E;
  --fourth-color: #CCE2FF;
  --basic-color1: #FCFAF2;
  --basic-color2: #000000;
  --info-color1: #CEE0FF;
  --info-color2: #BFFFF9;
  --opacity-color: #F9F3DF;
}

:root:has([value="dark"]:checked) {
	color-scheme:dark;
/* dark colors */
  --main-color: #000E2E; 
  --accent-color: #F6ECC8; 
  --accent-color2: #5f5440;
  --third-color: #0067e5;
  --fourth-color: #004299;
  --basic-color1: #000000;
  --basic-color1-dark: #11100e;
  --basic-color2: #FCFAF2;
  --info-color1: #00348e;
  --info-color2: #CEE0FF;
  --opacity-color: #636d81; /*bron: https://pinetools.com/invert-color */
}

/* de lettertypes */
@font-face {
  font-family: 'DopperRegular';
  src: url('../fonts/Dopper-Regular.5125e5cb.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('../fonts/Gilroy-Medium.605c261f.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GilroyBold';
  src: url('../fonts/Gilroy-Bold.af2227af.woff2');
  font-weight: 900;
  font-style: normal;
}

/* @keyframes borderAnimation {
  0% {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
  }
  100% {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}  */

@keyframes verkleinFoto {
  0% {
      height: 189vw;
      width: 100vw;
      object-fit: cover;
  }
  100% {
      max-height: 80vw; 
      width: 80vw;
      object-fit: cover;
      border-radius: 1em;
  }
}

@keyframes bubble-rise {
  0% {
    transform: translateY(100vh) scale(0.8);
  }
  50% {
    transform: translateY(50vh) scale(1);
  }
  100% {
    transform: translateY(-100vh) scale(1.2);
  }
}

/* basic dingetjes */

h2 {
  font-family: GilroyBold;
  color: var(--basic-color2);
}

p, h3 {
  font-family: GilroyMedium;
  color: var(--basic-color2);
}

a {
  text-decoration: none;
  font-family: GilroyMedium;
  color: var(--basic-color2);
} 

body {
  background-color: var(--basic-color1);
}

.invisibleheading {
  visibility: hidden;
  font-size: 0.0001em;
  position: absolute;
  left: -100vw;
}

/* header */

header {
  background-color: var(--main-color); 
  display: flex;
  justify-content: end;
  max-height: 15vh;
}

header section {
  position: relative;
}

header section a, header section button {
  position: absolute;
  max-height: 1.8em;
  z-index: 2;
}

header section a {
  left: -70vw;
  top: 12vw;
}

header section button {
  left: -28vw;
}

header section a img {
  max-height: 1.8em;
  margin-bottom: 2.3vh;
}

/* button */

header button {
  background-color: transparent;
  border: none;
}

header section > button img {
  max-width: 5.4em;
  margin-top: 7vw;
  margin-left: 6vw;
  margin-right: 4.5vw;
} 

/* nav tevoorschijn */

.toonMenu {
  transform: translateY(0%); 
  z-index: 2;
  overflow: scroll;
  visibility: visible;
}

/* sluit button & cart */

nav ul {
  position: sticky;
  top: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li button img{
  max-width: 5.8em;
}

nav ul li a img{
  max-width: 11.5vw;
}

/* nav */
nav {
  background-color: var(--main-color);  
  transform: translateY(-200%); 
  transition: transform 1s ease-out; 
  /* animation-name: borderAnimation;  */
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  padding:1.2em;
  align-content: start;
  visibility: hidden;
  padding-bottom: 0em;
}

/* details hamburger menu */

nav details summary {
  font-family: GilroyBold;
  color: var(--basic-color1);
  font-size: 2em;
  margin-top: 5vw;
  size: 1vw;
  list-style: none;
}

nav details:first-of-type summary {
  margin-top: 13vw;
}

nav details > summary::after { /*bron: https://www.sitepoint.com/style-html-details-element/*/
  content: "";
  display: inline-block;
  width: 5vw; 
  height: 5vw;
  margin-left: 4vw;
  background: url('../images/menu_arrow.svg') no-repeat center center;
  background-size: contain;
  filter: invert(100%);
}

details[open] > summary::after {
  transform: rotate(180deg);
}

nav details a {
  display: flex;
  gap: 5vw;
  margin: 4.5vw 0vw;
}

nav details a img {
  max-width: 16.5vw;
  display: flex;
  align-items: center;
}

nav details a p {
  font-family: GilroyMedium;
  font-size: 1.4em;
  color: var(--basic-color1);
}

nav details:first-of-type a p {
  margin-top: 5vw;
}

nav details:first-of-type a:last-of-type img {
  max-height: 3.5vh;
}

nav details:first-of-type a:last-of-type p {
  margin-top: 2vw;
}

nav details:nth-of-type(2) a:last-of-type img {
  max-height: 8vh;
  margin-right: 5vw;
}

nav details > p {
  font-family: GilroyBold;
  color: var(--basic-color1);
  font-size: 1.3em;
  margin: 10vw 0vw;
}

/* nav buttons */

nav > a:nth-of-type(1), nav > a:nth-of-type(2) {
  font-size: 1.3em;
  border: 0.6vw solid var(--accent-color);
  border-radius: 5vw;
  padding: 3vw 8vw;
  margin: 4vw 1vw;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  color: var(--accent-color);
  font-family: GilroyMedium; 
  flex-wrap: wrap;
}

nav > a:nth-of-type(1) {
  margin-top: 13vw;
}

/* nav article */

nav article {
  background-color: var(--fourth-color);
  border-radius: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15vw 0vw;
}

nav article img {
  height: 28vh;
  max-width: 85vw;
  object-fit: cover;
  align-self: center;
  margin: 2.5vw;
  border-radius: 3vw;
}

nav article a {
  color: var(--basic-color2);
  font-size: 1.3em;
  border: 0.6vw solid var(--basic-color2);
  border-radius: 3vw;
  padding: 3vw 8vw;
  margin: 4vw 1vw;
  display: flex;
  max-width: fit-content;
  margin-bottom: 8vw;
}

nav article h2 {
  font-size: 1.4em;
  margin: 4vw;
}

nav article p {
  font-size: 1.3em;
  margin: 4vw 8vw;
  text-align: center;
}

nav > details:last-of-type summary {
  font-family: GilroyMedium;
  font-size: 1em;
}

nav > details:last-of-type {
  position: relative;
  z-index: 10;
}

nav details:last-of-type[open] {
  position: absolute;
  z-index: 1000;
  bottom: -110vw;
}

nav details:last-of-type[open] summary{
  position: absolute;
  z-index: 1000;
  bottom: -15vw;
}

nav details:last-of-type > summary::after {
  margin-left: 1vw;
}

nav details:last-of-type > a {
  color: var(--basic-color2); 
  background-color: var(--accent-color);
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  width: 40vw;
  margin: 0vw;
  padding-left: 10vw;
  display: block;
}

nav details:last-of-type > a:first-of-type {
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
}

nav details:last-of-type > a:last-of-type {
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
}


/* nav dark mode buttons */

nav > h3 {
  font-size: 1.2em;
  color: var(--basic-color1);
  margin: 4vw 0vw;
}

nav label {
  display: flex;
  margin-bottom: 4vw;
}

nav label p {
  font-family: GilroyMedium;
  color: var(--basic-color1);
  margin-left: 2vw;
}

/* section 1 */

main section:nth-of-type(1) {
  flex-direction: column;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 217vw;
  width: 100vw;
}

main section:nth-of-type(1) img:first-of-type{
  height: 100%;
  width: 100vw;
  object-fit: cover;
  transition: max-height 1s ease-out, width 1s ease-out;
}

.scrolled img:first-of-type { 
  object-fit: cover;
  animation: verkleinFoto 5s ease;
  max-height: 80vw; 
  max-width: 80vw;
  border-radius: 1em;
}

main section:nth-of-type(1) h1 {
  font-family: DopperRegular;
  color: var(--accent-color);
  font-size: 2.6em;
  text-align: center;
  margin: 2vw 16vw;
  position: absolute;
  bottom: 103vw;
}

main section:nth-of-type(1) p {
  font-size: 1.7em;
  color: var(--accent-color);
  text-align: center;
  margin: 2vw 12vw;
  position: absolute;
  bottom: 60vw;
}

main section:nth-of-type(1) img:last-child {
  width: 18vw;
  filter: brightness(0) saturate(100%) invert(100%) sepia(70%) saturate(687%) hue-rotate(316deg) brightness(103%) contrast(93%); /* ik heb deze filters voor deze specifieke kleur gevonden op https://angel-rs.github.io/css-color-filter-generator/ */
  position: absolute;
  bottom: 10vw;
}


/*buttons van section 1*/
main section:nth-of-type(1) a{
  font-family: GilroyBold;
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.65em 0.75em;
  border-radius: 1em;
  width: 65vw;
  text-align: center;
  position: absolute;
}

main section:nth-of-type(1) a:first-of-type {
  background-color: var(--third-color);
  color: var(--accent-color);
  max-width: 60vw;
  bottom: 42vw;
}

main section:nth-of-type(1) a:last-of-type {
  background-color: transparent;
  color: var(--accent-color); 
  border: 0.15em solid var(--accent-color);
  bottom: 25vw;
}

/* section 2 */

main section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin: 7vw;
}

main section:nth-of-type(2) h2 {
  font-size: 2.2em;
  margin: 4vw 0vw;
}

main section:nth-of-type(2) p {
  font-size: 1.2em;
  margin: 4vw 0vw;
}

main section:nth-of-type(2) img {
  margin: 4vw 0vw;
  border-radius: 4vw;
}

/* buttons van section 2 & 4 */ 

main section:nth-of-type(2) a, main section:nth-of-type(4) a{
  font-family: GilroyBold;
  font-size: 5vw;
  padding: 0.6em 0.8em;
  border-radius: 1em;
  font-size: 1.2rem;
  width: 16em;
  margin: 1em 0em;
  text-align: center;
}

main section:nth-of-type(2) a{
  margin: 0.5em 0em;
}

main section:nth-of-type(2) a:first-of-type, main section:nth-of-type(4) a:first-of-type{
  background-color: var(--main-color);
  color: var(--accent-color); 
  font-family: GilroyBold;
  width: 10em;
}

main section:nth-of-type(4) a:first-of-type {
  width: 12em;
}

main section:nth-of-type(2) a:last-of-type, main section:nth-of-type(4) a:last-of-type{
  background-color: transparent;
  color: var(--third-color); 
  border: 0.15em solid var(--third-color);
}

main section:nth-of-type(2) a:last-of-type:active, 
main section:nth-of-type(4) a:last-of-type:active {
  background-color: var(--third-color);
  color: var(--accent-color); 
}

/* section 3 */

main section:nth-of-type(3) h2{
  font-size: 2.5em;
  font-family: DopperRegular;
  margin: 1em;
}

main section:nth-of-type(3) ul{
  display: flex;
  transition: transform 0.5s ease-in-out;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100vw;
  overflow-x: auto;
}

main section:nth-of-type(3) ul::-webkit-scrollbar{
  display: none;
}

main section:nth-of-type(3) li {
  list-style: none;
  margin: 0vw 2.5vw;
}

main section:nth-of-type(3) li:first-of-type {
  margin-left: 8vw;
}

main section:nth-of-type(3) li a img {
  width: 77vw;
  height: 52vh;
  border-radius: 3vw;
}

main section:nth-of-type(3) p, section:nth-child(3) h3 {
  color: var(--accent-color);
}

main section:nth-of-type(3) li:first-child h3, main section:nth-of-type(3) li:first-child p {
  color: var(--basic-color2);
}

/* section 3 text */
main section:nth-of-type(3) ul li a h3 {
  font-size: 2em;
  margin: 4vw 5vw;
  position: absolute;
}

main section:nth-of-type(3) ul li a p {
  font-size: 1.3em;
  margin: 4vw 5vw;
  margin-right: 7vw;
  position: absolute;
  margin-top: 15vw;
}

main section:nth-of-type(3) ul li a p:last-of-type{
  text-decoration: underline;
  bottom: 0vw;
}

main section:nth-of-type(3) a{
  position: relative;

}
/* section 4 */

main section:nth-of-type(4) img {
  width: 100vw;
  overflow: hidden;
}

main section:nth-of-type(4) article {
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main section:nth-of-type(4) article a:first-of-type {
  margin-bottom: 1.5vw;
}

main section:nth-of-type(4) article h2 {
  line-height: 10vw;
  font-size: 2.2em;
  margin-top: 8vw;
  margin-bottom: 5vw;
}

main section:nth-of-type(4) article p {
  line-height: 1.2em;
  font-size: 1em;
  max-width: 80vw;
}


/* section 5 */
main section:nth-child(5) h2 {
  font-family: GilroyMedium;
  margin: 20vw 10vw;
}

main section:nth-of-type(5) li {
  margin: 5vw 14vw;
  list-style: none;
  border-radius: 1em;
}

main section:nth-of-type(5) p {
  color: var(--third-color);
}

main section:nth-of-type(5) li:nth-child(1) {
  padding: 0vw;
}

main section:nth-of-type(5) li:nth-child(1) img {
  width: 72vw;
  border-radius: 1em;
}

main section:nth-of-type(5) li:nth-child(2) {
  background-color: var(--info-color1);
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 50% 50%;
  padding: 0vw;
}

main section:nth-of-type(5) li:nth-child(2) img {
  width: 20vw;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/3;
  padding-top: 6vw;
}

main section:nth-of-type(5) li:nth-child(2) p {
  margin-left: 7vw;
  margin-top: 2vw;
}

main section:nth-of-type(5) li:nth-child(2) p:first-of-type {
  font-family: DopperRegular;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 4em;
}

main section:nth-of-type(5) li:nth-child(2) p:last-of-type {
  font-family: GilroyBold;
  grid-column: 1/2;
  grid-row: 2/3;
}

main section:nth-of-type(5) li:nth-child(3) {
  background-color: var(--info-color2);
  padding: 6vw;
}

main section:nth-of-type(5) li:nth-child(3) p {
  font-family: DopperRegular;
  font-size: 1.5em;
}

main section:nth-of-type(5) li:nth-child(4) {
  background-color: var(--info-color1);
  padding: 0vw;
  height: 80vw;
}

main section:nth-of-type(5) li:nth-child(4) img {
  width: 72vw;
  border-radius: 1em;
}

main section:nth-of-type(5) li:nth-child(4) p {
  font-family: DopperRegular;
  font-size: 1.5em;
  padding: 0.8em;
}


/* footer */

footer {
  background-color: var(--accent-color);
  margin-top: 40vw;
}

footer section:first-of-type, footer section:nth-of-type(2) {
  padding: 8vw;
}

footer section a{
  color: var(--basic-color2);
}

footer li {
  list-style: none;
}

footer section:first-of-type article:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer section:first-of-type article:first-child a img{
  background-color: var(--opacity-color);
  border-radius: 5em;
  padding: 2vw;
  width: 2.8em;
  margin: 10vw 0vw;
}

/* input form */

footer section:first-of-type input {
  margin: 4vw 0vw;
  padding: 1.5em;
  border-radius: 1.5em;
  border: none;
  display: flex;
  flex-direction: column;
  width: 80vw;
  background-color: var(--basic-color1);
} 

footer section:first-of-type input::placeholder {
  font-size: 1.4em;
  font-family: GilroyMedium;
}

footer section:first-of-type button {
  border-radius: 5em;
  background-color: var(--basic-color1);
  padding: 1.2em;
  border: none;
  margin-left: 65vw;
}

footer section:first-of-type button img {
  max-height: 3vh;
}

footer section:first-of-type p {
  font-family: GilroyBold;
  font-size: 1.5em;
}

/* lijstje */

footer section:first-of-type > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

footer section:first-of-type > ul > li {
  padding-right: 2vw;
}

footer section:first-of-type > ul > li h3 {
  font-size: 1.2em;
  font-family: GilroyBold;
}

footer section:first-of-type h2 {
  font-family: DopperRegular;
  font-size: 2em;
  margin: 12vw 0vw;
}

footer section:first-of-type > ul > li:nth-child(1){
  grid-area: 1/1/2/2;
  padding-bottom: 10vw;
}

footer section:first-of-type > ul > li:nth-child(2){
  grid-area: 1/2/2/3;
}

footer section:first-of-type > ul > li:nth-child(3){
  grid-area: 2/1/3/2;
  padding-top: 5vw;
}

footer section:first-of-type > ul > li:nth-child(4){
  grid-area: 2/2/3/3;
  padding-left: 2.5vw;
  padding-top: 5vw;
}

footer section:first-of-type > ul > li > ul {
  display: flex;
  flex-direction: column;
  padding-top: 5vw;
  padding-left: 0%;
  padding-right: 0%;
}

footer section:first-of-type > ul > li > ul > li > a {
  padding-top: 1vw;
  font-size: 1em;
}

/* laatste article van section 1 */
footer section:first-of-type article:last-of-type{
  margin-top: 15vw;
  display: flex;
  gap: 8vw;
}

footer section:first-of-type article:last-of-type a img {
  max-height: 6vh;
}

/* section 2 */
footer section:nth-of-type(2) {
  background-color: var(--basic-color1);
}

footer section:last-of-type a img{
  height: 3.2vh; /* ik heb hier gekozen om de iconen even groot te maken in tegenstelling tot wat dopper.com had gedaan aangezien ik dit er beter uit vindt zien  */
  padding-right: 1vw;
}

footer section:last-of-type article {
  display: flex;
  flex-direction: row;
  gap: 8vw;
  margin-top: 5vw;
}

/* school pagina */

/* section 1 */
.schools section:nth-of-type(1) {
  position: relative;
  height: 230vw;
}

.schools section:nth-of-type(1) p {
  top: 160vw;
  z-index: 1;
}

.schools section:nth-of-type(1) h1 {
  top: 40vw;
  z-index: 1;
  margin: 0vw 25vw;
}

.schools section:nth-of-type(1) img {
  clip-path: circle(38.0% at 50% 50%);
  max-height: 100vw;
  margin-top: 65vw;
}

/* section 2 */

.schools section:nth-of-type(2) h2, .schools section:nth-of-type(2) p {
  font-size: 1em;
}

/* section 3 */

.schools section:nth-of-type(3) h2 {
  font-family: GilroyMedium;
  font-size: 1.2em;
  margin: 8vw;
}

.schools section:nth-of-type(3) p:first-of-type {
  font-family: GilroyBold;
  font-size: 1.2em;
}

.schools section:nth-of-type(3) p {
  color: var(--basic-color2);
  margin: 8vw;
  font-size: 1.2em;
  line-height: 7vw;
}

.schools section:nth-of-type(3) a {
  color: var(--basic-color2);
  text-decoration: underline;
  font-size: 1.3em;
  margin: 8vw;
}

.schools section:nth-of-type(3) img {
  margin: 15vw 8vw;
  width: 84vw;
  max-height: 90vw;
  border-radius: 1em;
  object-fit: cover;
}

/* section 4 */

.schools section:nth-of-type(4) img {
  margin: 15vw 8vw;
  width: 84vw;
  max-height: 90vw;
  border-radius: 1em;
  object-fit: cover;
}

.schools section:nth-of-type(4) h2 {
  font-family: GilroyMedium;
  font-size: 1.2em;
  margin: 8vw;
}

.schools section:nth-of-type(4) p:first-of-type{
  margin: 8vw;
  font-family: GilroyBold;
  font-size: 1.2em;
}

.schools section:nth-of-type(4) p:last-of-type{
  margin: 8vw;
  font-size: 1.2em;
}

/* section 5 */
.schools section:nth-of-type(5) h2 {
  font-size: 1.6em;
  margin: 30vw 40vw 0vw 8vw;
}

.schools section:nth-of-type(5) p {
  font-size: 1em;
  margin: 2vw 8vw;
}

/* dark mode */
html:has([value="dark"]:checked) header nav details summary,
html:has([value="dark"]:checked) main section:nth-of-type(5) ul li:nth-of-type(2) p, 
html:has([value="dark"]:checked) main section:nth-of-type(5) ul li:nth-of-type(4) p,
html:has([value="dark"]:checked) header nav > a:last-of-type,
html:has([value="dark"]:checked) header nav details p, 
html:has([value="dark"]:checked) header nav h3,
html:has([value="dark"]:checked) header nav label p,
html:has([value="dark"]:checked) .schools section:nth-of-type(5) p{
 color: var(--basic-color2);
}

html:has([value="dark"]:checked) footer {
  background-color: var(--accent-color2);
}

html:has([value="dark"]:checked) body {
  background-color: var(--basic-color1-dark);
}

html:has([value="dark"]:checked) footer section:nth-of-type(1) form button img,
html:has([value="dark"]:checked) footer section:nth-of-type(2) > a img,
html:has([value="dark"]:checked) footer section:first-of-type article:last-of-type a img, 
html:has([value="dark"]:checked) footer section:first-of-type article:first-of-type a img{
 filter: invert(100%);
}

html:has([value="dark"]:checked) footer section:nth-of-type(2) > a:first-of-type img,
html:has([value="dark"]:checked) footer section:nth-of-type(2) > a:nth-of-type(2) img {
  filter: invert(0%);
}

html:has([value="dark"]:checked) main section:nth-of-type(5) p,
html:has([value="dark"]:checked) main section:nth-of-type(3) li:first-child h3, 
html:has([value="dark"]:checked) main section:nth-of-type(3) li:first-child p,
html:has([value="dark"]:checked) header nav details:last-of-type a {
  color: var(--basic-color1);
}

/* media query */

@media screen and (min-width: 770px) {
  main section:nth-of-type(4)  {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
  }

  main section:nth-of-type(4) img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100vw;
    overflow: hidden;
  }

  main section:nth-of-type(4) article {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: var(--basic-color1);
    margin-left: 4.5em;
    margin-top: 2.5em;
    margin-bottom: 5em;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 550px;
    flex-wrap: wrap;
    z-index: 1;
  }

  main section:nth-of-type(4) article a:first-of-type {
    margin-bottom: 1.5vw;
  }

  main section:nth-of-type(4) article p {
    line-height: 1.8vw;
    font-size: 1.5vw;
  }

  main section:nth-of-type(4) article h2 {
    line-height: 3.6vw;
    font-size: 3vw;
    margin-top: 1vw;
  }
}